footer {
  font-size: 2em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;

  background: $header-first-color;
  background: -moz-linear-gradient(top, $header-second-color 0%, $header-first-color 100%);
  background: -webkit-linear-gradient(top, $header-second-color 0%,$header-first-color 100%);
  background: linear-gradient(to bottom, $header-second-color 0%,$header-first-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$header-second-color}', endColorstr='#{$header-first-color}',GradientType=0 );

  a{
    i{
      color: $w3-light-blue;
      transition: all $transistion-duration;
    }
    i:hover
    {
      color: $w3-white;
    }
  }
}