$header-first-color: $w3-pink;
$header-second-color: lighten($w3-pink, 10%);

.no-webp
{
  header
  {
    background: url($appPath + "/img/fond.jpg") no-repeat fixed;
    background-size: cover;
  }
}

.webp
{
  header
  {
    background: url($appPath + "/img/fond.webp") no-repeat fixed;
    background-size: cover;
  }
}

header{
  padding: 74px 16px;
  font-family: 'Niconne', cursive;

  h1{
    font-size: 5em;
  }
}

@include media-breakpoint-down(sm)
{
  header{
    padding-bottom: 30px;

    h1{
      font-size: 3em;
    }
  }
}

.fondAlpha{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  text-align: center;
}

.navbar{
  font-size: 1.5em;
  font-family: 'Niconne', cursive;

  background: $header-first-color;
  background: -moz-linear-gradient(top, $header-first-color 0%, $header-second-color 100%);
  background: -webkit-linear-gradient(top, $header-first-color 0%,$header-second-color 100%);
  background: linear-gradient(to bottom, $header-first-color 0%,$header-second-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$header-first-color}', endColorstr='#{$header-second-color}',GradientType=0 );

  .navbar-brand
  {
    fill: $navbar-dark-color;
    transition: all $transistion-duration;
  }
  .navbar-brand:hover
  {
    fill: $navbar-dark-hover-color;
  }
}

.nav-link:hover{
  transition: all $transistion-duration;
}