header{
  background-image: url("/siteApache/pamv/public/img/fond.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 16px;
  font-family: 'Niconne', cursive;
}

.fondAlpha{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  text-align: center;
}